In [1]:
# Importing pandas library.

import pandas as pd

In [22]:
# Using "pd.read.csv" to read the files and storing it in dataframes.

trips_2019_Q2=pd.read_csv(r"C:\Users\sachi\OneDrive\Documents\Divvy_Trips_2019_Q2.csv")
trips_2019_Q3=pd.read_csv(r"C:\Users\sachi\OneDrive\Documents\Divvy_Trips_2019_Q3.csv")
trips_2019_Q4=pd.read_csv(r"C:\Users\sachi\OneDrive\Documents\Divvy_Trips_2019_Q4.csv")
trips_2020_Q1=pd.read_csv(r"C:\Users\sachi\OneDrive\Documents\Divvy_Trips_2020_Q1.csv")
print("complete")

complete

In [10]:
# Renaming the colum names so that we have same columns in every dataframe.

trips_2020_Q1.rename(columns={"started_at":"start_time","ended_at":"end_time"},inplace=True)

trips_2019_Q2.rename(columns={"01 - Rental Details Rental ID":"ride_id","01 - Rental Details Local Start Time":"start_time", 
                      "01 - Rental Details Local End Time":"end_time", 
                      "03 - Rental Start Station ID":"start_station_id","03 - Rental Start Station Name":"start_station_name",
                      "02 - Rental End Station ID":"end_station_id","02 - Rental End Station Name":"end_station_name","01 - Rental Details Bike ID":"rideable_type","User Type":"member_casual"},inplace=True)

trips_2019_Q3.rename(columns={"bikeid":"rideable_type","from_station_id":"start_station_id","from_station_name":"start_station_name",
                             "to_station_id":"end_station_id","to_station_name":"end_station_name","usertype":"member_casual","trip_id":"ride_id"
                             },inplace=True)

trips_2019_Q4.rename(columns={
       'from_station_id':'start_station_id', 'from_station_name':'start_station_name', 'to_station_id':'end_station_id',
       'to_station_name':'end_station_name',"bikeid":"rideable_type","trip_id":"ride_id","usertype":"member_casual"},inplace=True)

In [27]:
# Check all the column names in each dataframe.
trips_2020_Q1.columns

Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')

In [25]:
trips_2019_Q2.columns

Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')

In [26]:
trips_2019_Q3.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [15]:
trips_2019_Q4.columns

Index(['ride_id', 'start_time', 'end_time', 'rideable_type', 'tripduration',
       'start_station_id', 'start_station_name', 'end_station_id',
       'end_station_name', 'member_casual', 'gender', 'birthyear'],
      dtype='object')

In [17]:
# Concatenating all frames in one frame for analysis.

frames=[trips_2019_Q2,trips_2019_Q3,trips_2019_Q4,trips_2020_Q1]
all_trips=pd.concat(frames)

In [18]:
all_trips.head()

,ride_id,start_time,end_time,rideable_type,01 - Rental Details Duration In Seconds Uncapped,start_station_id,start_station_name,end_station_id,end_station_name,member_casual,Member Gender,05 - Member Details Member Birthday Year,tripduration,gender,birthyear,start_lat,start_lng,end_lat,end_lng
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56.0,Desplaines St & Kinzie St,Subscriber,Male,1975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59.0,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174.0,Canal St & Madison St,Subscriber,Male,1990.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133.0,Kingsbury St & Kinzie St,Subscriber,Male,1993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129.0,Blue Island Ave & 18th St,Subscriber,Male,1992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Removing all columns which are not required.
all_trips.drop([
       '01 - Rental Details Duration In Seconds Uncapped', 
        'Member Gender',
       '05 - Member Details Member Birthday Year', 'tripduration', 'gender',
       'birthyear', 'start_lat', 'start_lng', 'end_lat', 'end_lng'],axis=1,inplace=True)

In [20]:
all_trips.columns

Index(['ride_id', 'start_time', 'end_time', 'rideable_type',
       'start_station_id', 'start_station_name', 'end_station_id',
       'end_station_name', 'member_casual'],
      dtype='object')

In [21]:
# Checking the data types of data in dataframe.
all_trips.dtypes

ride_id                object
start_time             object
end_time               object
rideable_type          object
start_station_id        int64
start_station_name     object
end_station_id        float64
end_station_name       object
member_casual          object
dtype: object

In [22]:
# Converting the start_time and end_time to datetime.         
all_trips[["start_time","end_time"]]=all_trips[["start_time","end_time"]].apply(pd.to_datetime)

In [23]:
# Getting trip_duration column in minutes
all_trips["trip_duration"]=(all_trips.end_time-all_trips.start_time) / pd.Timedelta(minutes=1)

In [24]:
# Getting year, month, and day columns
all_trips["year"]=all_trips["start_time"].dt.year
all_trips["month"]=all_trips["start_time"].dt.month
all_trips["day"]=all_trips["start_time"].dt.day

In [27]:
# Also getting weekday column which gives day of week i.e 1 if Monday, 2 if Tuesday,...
all_trips["day_of_week"]=all_trips["start_time"].apply(lambda x:x.weekday())

In [28]:
all_trips.head(3)

,ride_id,start_time,end_time,rideable_type,start_station_id,start_station_name,end_station_id,end_station_name,member_casual,trip_duration,year,month,day,day_of_week
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,81,Daley Center Plaza,56.0,Desplaines St & Kinzie St,Subscriber,7.433333,2019,4,1,0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,317,Wood St & Taylor St,59.0,Wabash Ave & Roosevelt Rd,Subscriber,17.466667,2019,4,1,0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,283,LaSalle St & Jackson Blvd,174.0,Canal St & Madison St,Subscriber,4.200000,2019,4,1,0

In [29]:
# We have 4 unique values instead of two we can check this by
all_trips.member_casual.unique()

array(['Subscriber', 'Customer', 'member', 'casual'], dtype=object)

In [30]:
# converting suscriber and customer to member and casual 
all_trips["member_casual"]=all_trips["member_casual"].replace({"Subscriber":"member","Customer":"casual"})

In [32]:
# Exporting this dataframe as csv for further analysis
all_trips.to_csv("all_trips.csv")